<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="./IMG/cognizant image.png">
    <link rel="stylesheet" href="./CSS/styles.css">
</head>
<body>
    
    <div class="main-content">
        <h1>{{title}}</h1>
        {{>header}} 
        <img class="portrait" src="./IMG/cognizant image.png">
        <p>Created by {{name}}</p>
    </div>   
    {{>footer}}
</body>
</html>