<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="icon" href="./IMG/cognizant image.png">
    <link rel="stylesheet" href="./CSS/styles.css">
</head>
<body>
     <div class="main-content">
        <h1>Help page</h1>
        {{>header}}
        <p>{{helpText}}</p>
     </div>
    
    {{>footer}}
</body>
</html>